@font-face {
    font-family: monoton;
    src: url(../fonts/Monoton/Monoton-Regular.ttf);
}

@font-face {
    font-family: wire;
    src: url(../fonts/Wire_one/WireOne-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}