@font-face {
    font-family: monoton;
    src: url(../fonts/Monoton/Monoton-Regular.ttf);
}

@font-face {
    font-family: fira;
    src: url(../fonts/Fira_Code/fira-code.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}