#services{
    background: $darkPurple;
    padding: 2em 2em 5em 2em;
    h2{
        margin-bottom: 1em;
    }
    .flexboxServices{
        @include flex($just:space-evenly);
        color: white;
        margin-bottom: 1.5em;
        article{
            background: black;
            width:25em;
            height:7em;
            padding:1em;
            h3{
                font-size: 2em;
                font-weight: lighter;
                margin-bottom: 1em;
            }
        }
    }
}