// HEADER WITH H1 AND LOGO
#headerImage{
    @include flex;
    height: 80vh;
    width: 100%;
    background-image: url(../img/pexels-aleksandar-pasaric-1820770.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
    // H1 ANIMATIONS
    h1{
        color: white;
        text-shadow: 0 0 0.15em $green;
        font-weight: lighter;
        animation: flicker 1.5s infinite alternate;
    }
    h1::selection {
        background-color: $green;
        color: $green;
    }
    h1:focus {
        outline: none;
    }

    .logo{
        width: 20%;
        margin: 0 1em;
    }
}

// KEYFRAMES H1
@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem $green,
            0 0 4rem $green,
            0 0 6rem $green,
            0 0 8rem $green,
            0 0 10rem $green;       
    }
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

// NAV BAR ON DESKTOP SCREEN SIZE
#desktopNav{
    @include flex;
    height: 10vh;
    width: 100%;
    background-color: $darkPurple;
    z-index:101;
    ul{
        width: 100%;
        @include flex($just: space-around);
        a{
            font-family:wire;
            text-transform: uppercase;
            font-size: 3rem;
            color: white;
            transition: all 0.3s ease;
        }
        a:hover{
            text-shadow: 0 0 0.15em $green;
        }
    }
}

// MENU BURGER
#menu-burger{
	position: fixed;
    z-index: 100;
	top: 10vh;
	right: 2em;
    background: $darkPurple;
    box-shadow: 1px 1px 1px black;
    padding: 0.5em;
    padding-bottom: 1em;
}

#bars {
    width:30px;
    height:3px;
    background:white;
    display:inline-block;
    position:relative;
}
#bars::before,
#bars::after {
  content:'';
  width:30px;
  height:3px;
  display:inline-block;
  position:absolute;
  background:white;
  transform-origin: center;
  transition: all 0.3s ease;
}
#bars::before {
  top:-10px;
}
#bars::after {
  top:10px;
}
#bars.open {
    background:transparent; /* la barre du milieu disparait */
}
  /* celles du haut et du bas s'inclinent pour former une croix */
#bars.open::before {
    background: $green;
    box-shadow: 0 0 0.15em $green;
    transform: rotate(45deg); 
    top:0;
}
#bars.open::after {
    background: $green;
    box-shadow: 0 0 0.15em $green;
    transform: rotate(-45deg);
    top:0;
}


// MOBILE NAV BAR
#mobileNav{
    position:fixed;
    z-index: 99;
    background: rgb(27, 8, 35, 0.9);
    height: 100vh;
    top:0;
    right:0;
    padding: 10em 5em;
    text-align: right;
    animation-name: getTheNav;
    animation-duration: 0.3s;
    ul{
        li{
            margin-bottom: 3em;
        }
    }
    a{
        color:white;
        text-transform: uppercase;
        font-size: 1.5em;
    }
}

@keyframes getTheNav{
    from{
        right: -70em;
    }
    to{
        right: 0;
    }
}