*{
    @include reset;
    scroll-behavior: smooth;
}

body{
    font-family: roboto, sans-serif;
}

h1{
    font-family: monoton;
    text-transform: uppercase;
    font-size: 3em;
}

h2{
    font-family: wire;
    text-transform: uppercase;
    font-size: 5rem;
    text-align:center;
}

h3{
    font-family: wire;
}

input, textarea{
    font-family: roboto, sans-serif;
}

.green{
    color: $green;
    text-shadow: 0 0 0.15em $green;
}
.purple{
    color: $darkPurple;
    text-shadow: 0 0 0.15em $darkPurple;
}

.displayNone{
    display:none;
}

.sticky{
    position: fixed;
    top: 0;
}

.reveal-invisible{
    opacity:0;
    transform: translateX(-30px);
}
.reveal-visible{
    opacity:1;
    transform: translateX(0);
    transition: all .3s ease;
}
