*{
    @include reset;
}

body{
    font-family: roboto, sans-serif;
}

h1{
    font-family: monoton;
    text-transform: uppercase;
    font-size: 3rem;
}

h2{
    font-family: wire;
    text-transform: uppercase;
    font-size: 5rem;
    text-align:center;
}

h3{
    font-family: wire;
}

input, textarea{
    font-family: roboto, sans-serif;
}

.green{
    color: $green;
}
.purple{
    color: $darkPurple;
}

.displayNone{
    display:none;
}

.sticky{
    position: fixed;
    top: 0;
}
