@mixin flex ($just:center, $align:center, $dir:row, $wrap:wrap){
    display:flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $dir;
    flex-wrap: $wrap;
}

@mixin reset{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color:none;
}

@mixin button{
    text-align:center;
    text-transform: uppercase;
    font-family: wire;
    color: white;
    font-size: 2em;
    letter-spacing: 5px;
    background-color: black;
    padding: 0 1em;
}