#skills{
    background: black;
    background: linear-gradient(180deg, black 0%, $darkPurple 100%); 
    margin-top: 3em;
    padding:2em;
    .flexboxSkills{
        @include flex($just:space-around);
        article{
            @include flex($dir: column);
            width: 25rem;
            height: 30rem;
            background: $darkPurple;
            box-shadow: 1px 1px $green;
            color: white;
            .skillsImgSizing{
                width:200px;
                height:200px;
                object-fit: cover;
                object-position: center;
                img{
                    width: 100%;
                }
            }
            h3{
                font-size: 3em;
                font-weight: lighter;
                text-transform: uppercase;
            }
            ul{
                li{
                    margin-top:0.25em;
                    list-style-type: disc;
                }
            }
        }
    }
}