#gallery{
    margin-top: 3em;
    padding:2em;
    #titleGallery{
        margin-bottom:3em;
        text-align:center;
        p{
            margin-bottom: 0.5em;
            letter-spacing: 0.20em;
        }
    }
    .flexboxGallery{
        @include flex($just:space-evenly);
        gap: 1em;
        margin: 2em 5em;
        article{
            // MINIATURE
            .miniature{
                width: 300px;
                height: 300px;
                overflow: hidden; // Utile pour l'effet de zoom en hover
                display: inline-block; // Utile pour l'effet de zoom en hover
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
                img{
                    width: 100%;
                    height:100%;
                    object-fit: cover;
                    object-position: top;
                    transition: all 0.3s ease-in-out;
                }
                img:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
            // MODAL
            .boxSizing{
                display: none; /* Caché par défaut */
                position: fixed; /* Reste en place */
                z-index: 110; /* Mis en avant */
                padding-top: 5rem; 
                padding-left: 30%;
                flex-direction:column;
                left: 0;
                top: 0;
                width:100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Scroll si besoin */
                background-color: rgba(0,0,0,0.9); 
                backdrop-filter: blur(4px);
                animation-name: getModal;
                animation-duration: 0.5s;
                img{
                    width:30%;
                }
                p{
                    display:inline;
                    color:white;
                    padding: 5px;
                    width: 30%;
                    a{
                        color:white;
                        transition: all 0.3s ease;
                    }
                    a:hover{
                        color:$green;
                    }
                }
            }
        }
    } 
    #endGallery{
        margin-top:3em;
        text-align:center;
        p{
            margin-bottom: 0.5em;
            letter-spacing: 0.20em;
        }
        a{
            font-weight: bolder;
            color: black;
        }
    } 
}

// KEYFRAME MODAL
@keyframes getModal{
    from{
        left: -700px;
    }
    to{
        left:0;
    }
}